<template>
  <div>
    <NuxtLogo />
    <h1>
      {{ title }}
    </h1>
    <h2>
      {{ h2 }}
    </h2>
    <h2>
      {{ demoH2 }}
    </h2>
  </div>
</template>

<script>
import NuxtLogo from "~/components/NuxtLogo.vue";

export default {
  layout: "default", // 設定為預設頁面 (預設值為 default，指向 layout/default.vue)
  data() {
    return {
      title: "demo",
      h2: "這是 h2",
    };
  },
  created() {
    console.log("created");
  },
  mounted() {
    console.log("mounted");
  },
  computed: {
    demoH2() {
      return this.h2 + "(computed)";
    },
  },
  methods: {
    demoFn() {
      console.log("demoFn");
    },
  },
  components: {
    NuxtLogo,
  },
};
</script>
